<div class="page page-table-static clearfix">
  <ol class="breadcrumb breadcrumb-small">
    <li>监控主机配置表单</li>
    <li class="active"><a href="#/tables/ansible-config">ansible host配置表单</a></li>
  </ol>
  
      <div class="row">
        <div class="page-wrap">
          <div class="col-lg-12">
            <div
              class="panel panel-lined table-responsive mb30"
              ng-controller="ansible_config"
            >
              <!--这部分是写的悬浮输入框-->
              <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <!--悬浮框头部-->
                          <div class="modal-header">
                              <button type="button" ng-click="resetForm()" class="close" data-dismiss="modal" aria-hidden="false">×</button>
                              <h4 class="modal-title" id="myModalLabel">修改</h4>
                          </div>

                          <!--中间的表单,-->
                          <div class="modal-body">
              			      	<div class="panel panel-lined mb30">
                              <!--表单头部-->
              			      		<div class="panel-heading"><i>ansible host数据修改</i></div>
              			      		<!--表单表单体-->
                              <div class="panel-body">
                              	<form class="form-inline" role="form"  >
              			      				<div class="form-group form-group-sm">

              			      					<div class="input-group">
              			      						<span class="input-group-addon">ip地址</span>
              			      					  <input type="text" ng-model="formData.ansible_ssh_host" class="form-control" placeholder="请输入ip所属组">
              			      					</div>


              			      					<div class="input-group">
              			      						<span class="input-group-addon">端口</span>
              			      						<input type="text" ng-model="formData.ansible_ssh_port" class="form-control" placeholder="请填入链接端口">
              			      					</div>

                                    <div class="input-group">
              			      						<span class="input-group-addon">ip所属组</span>
              			      						<input type="text" ng-model="formData.group_name" class="form-control" placeholder="请输入ip所属组">
              			      					</div>

                                    <div class="input-group">
              			      						<span class="input-group-addon">用户名</span>
              			      						<input type="text" ng-model="formData.ansible_ssh_user" class="form-control" placeholder="请输入用户名">
              			      					</div>

                                    <div class="input-group">
              			      						<span class="input-group-addon">链接密码</span>
              			      						<input type="password" ng-model="formData.ansible_ssh_pass" class="form-control" placeholder="请输入连接密码">
              			      					</div>

                                    <div class="input-group">
              			      						<span class="input-group-addon">操作系统类型</span>
                                      <select ng-model="formData.system" class="form-control">
              			      						  <option value="linux" selected>linux</option>
              			      						  <option value="winodws">winodws</option>
              			      					  </select>
              			      					</div>
              			      				</div>
              			      			</form>
              			      		</div>
                              <!--表单体结束-->
              			      	</div>
                          </div>
                        <!--表单体结束-->
                          <div class="modal-footer">
                              <button type="button" class="btn btn-default" ng-click="resetForm()" data-dismiss="modal">关闭</button>
                              <button type="button" ng-click="reviseHostConfig()" class="btn btn-primary" data-dismiss="modal">提交更改</button>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="panel-body">
                <div class="small text-bold left mt5">
                  每一页展示&nbsp;
                  <select
                    data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpts"
                    data-ng-change="onNumPerPageChange()"
                  ></select>
                  &nbsp;条数据
                </div>
                <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">新增</button>

                <button type="button" ng-click="oracleAuthorization()" class="btn btn-info btn-xs">
                  oracle数据库授权
                </button>

                <button type="button" ng-click="installZabbixAgent()" class="btn btn-info btn-xs">
                  服务器安装zabbix agent
                </button>

                <button type="button" ng-click="refresh_oracle_message()" class="btn btn-info btn-xs">
                  重新获取oracle的端口实例名
                </button>
                
                <button type="button" ng-click="ping_all_host()" class="btn btn-info btn-xs">
                  测试能否ping通
                </button>  
                
                <div> 
                  <form  method="post" action="/deal_config/upload" id="fileForm" enctype="multipart/form-data">                     
                <input
                type="file" name="file"
                class=" input-sm col-sm-8" id="file_upload">
                  <input  type="file" name="file" style="display: none;"/>
                  <button ng-click="fileupload()" type="submit" >导入excel文件</button></form></div>  
                <button type="button"  class="btn btn-info btn-xs">
                  <a ng-href="/deal_config/hostsdownload">导出数据</a>
                </button>
                <form class="form-horizontal right col-lg-1.5">
                  <input
                    type="text"
                    class="form-control input-sm"
                    placeholder="请搜索的数据的一部分"
                    data-ng-model="searchKeywords"
                    data-ng-keyup="search()"
                  />
                </form>
                <!-- <form id="fileForm" enctype="multipart/form-data" class="form-horizontal">
                  <button id="import_asset" type="button" ng-click="import_asset()">上传文件</button>
                  <input id="file_asset" type="file" style="display: none;"/>
                 </form> -->
              </div>

              <!-- data table -->
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>多选框</th>
                    <th>
                      ip名称
                      <div class="th">
                        <i
                          class="fa fa-caret-up icon-up"
                          ng-click=" order('name') "
                          ng-class="{active: row == 'name'}"
                        ></i>
                        <i
                          class="fa fa-caret-down icon-down"
                          ng-click=" order('-name') "
                          ng-class="{active: row == '-name'}"
                        ></i>
                      </div>
                    </th>

                    <th>
                      ip地址
                      <div class="th">
                        <i
                          class="fa fa-caret-up icon-up"
                          ng-click=" order('ansible_ssh_host') "
                          ng-class="{active: row == 'ansible_ssh_host'}"
                        ></i>
                        <i
                          class="fa fa-caret-down icon-down"
                          ng-click=" order('-ansible_ssh_host') "
                          ng-class="{active: row == '-ansible_ssh_host'}"
                        ></i>
                      </div>
                    </th>

                    <th>
                      连接端口
                      <div class="th">
                        <i
                          class="fa fa-caret-up icon-up"
                          ng-click=" order('ansible_ssh_port') "
                          ng-class="{active: row == 'ansible_ssh_port'}"
                        ></i>
                        <i
                          class="fa fa-caret-down icon-down"
                          ng-click=" order('-ansible_ssh_port') "
                          ng-class="{active: row == '-ansible_ssh_port'}"
                        ></i>
                      </div>
                    </th>
                    <th>
                      连接用户名
                      <div class="th">
                        <i
                          class="fa fa-caret-up icon-up"
                          ng-click=" order('ansible_ssh_user') "
                          ng-class="{active: row == 'ansible_ssh_user'}"
                        ></i>
                        <i
                          class="fa fa-caret-down icon-down"
                          ng-click=" order('-ansible_ssh_user') "
                          ng-class="{active: row == '-ansible_ssh_user'}"
                        ></i>
                      </div>
                    </th>
                    <th>
                      连接用户密码
                      <div class="th">
                        <i
                          class="fa fa-caret-up icon-up"
                          ng-click=" order('ansible_ssh_pass') "
                          ng-class="{active: row == 'ansible_ssh_pass'}"
                        ></i>
                        <i
                          class="fa fa-caret-down icon-down"
                          ng-click=" order('-ansible_ssh_pass') "
                          ng-class="{active: row == '-ansible_ssh_pass'}"
                        ></i>
                      </div>
                    </th>
                    <th>
                      组名
                      <div class="th">
                        <i
                          class="fa fa-caret-up icon-up"
                          ng-click=" order('group_name') "
                          ng-class="{active: row == 'group_name'}"
                        ></i>
                        <i
                          class="fa fa-caret-down icon-down"
                          ng-click=" order('-group_name') "
                          ng-class="{active: row == '-group_name'}"
                        ></i>
                      </div>
                    </th>
                    <th>
                      操作系统
                      <div class="th">
                        <i
                          class="fa fa-caret-up icon-up"
                          ng-click=" order('system') "
                          ng-class="{active: row == 'system'}"
                        ></i>
                        <i
                          class="fa fa-caret-down icon-down"
                          ng-click=" order('-system') "
                          ng-class="{active: row == '-system'}"
                        ></i>
                      </div>
                    </th>
                    <th>oracle端口</th>
                    <th>oracle实例名</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="data in currentPageStores track by $index">
                    <td>
                      <label>
                        <input
                          type="checkbox"
                          class="toggle"
                          ng-model="todo.completed"
                          ng-change="toggleCompleted(todo)"
                          ng-checked="todo.completed"
                        />
                        <span></span>
                      </label>
                    </td>
                    <td>{{data.name}}</td>
                    <td>{{data.ansible_ssh_host}}</td>
                    <td>{{data.ansible_ssh_port}}</td>
                    <td>{{data.ansible_ssh_user}}</td>
                    <td>{{data.ansible_ssh_pass}}</td>
                    <td>{{data.group_name}}</td>
                    <td>{{data.system}}</td>
                    <td>{{data.oracle_port}}</td>
                    <td>{{data.oracle_instance}}</td>
                    <td>
                      <a data-toggle="modal" data-target="#myModal" ng-click="edit(data.name)">编辑</a>
                      <a ng-click="del(data.name)">删除</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- #end data table -->

              <div class="panel-footer clearfix">
                <p class="left mt15 small">
                  展示 {{currentPageStores.length*(currentPage - 1) + 1}} 条数据到
                  {{currentPageStores.length*currentPage}} 条数据，一共有 {{datas.length}}
                  条数据
                </p>
                <pagination
                  boundary-links="true"
                  total-items="filteredData.length"
                  ng-model="currentPage"
                  class="pagination-sm right"
                  max-size="5"
                  ng-change="select(currentPage)"
                  items-per-page="numPerPage"
                  rotate="false"
                  previous-text="&lsaquo;"
                  next-text="&rsaquo;"
                  first-text="&laquo;"
                  last-text="&raquo;"
                ></pagination>
              </div>
            </div>
          </div>
        </div>
        <!-- #end row -->
      </div>
      <!-- #end page-wrap -->
    </div>
  </div>
</div>
<script>
    
</script>